@charset "utf-8";
/* Css */


	/* PADROES */
		.admin > header { background: #747F8C; } /* topo */
		.admin > header ul.barra > li > a { color: #bbc1c8; } /* cor do icone na ul.barra */
		.admin > header ul.barra > li.ativo > a { background: #9099a3; } /* hover do li na ul.barra */
		.admin > header ul.barra > li a.icones span { color: #ffffff; background: #3FD5C0; } /* cor do balao na ul.barra */


		aside.menu { background: #FFFFFF; }  /* back do menu */
		aside.menu .menu_fundo { border-right: 1px solid #E6EEF2; background: #FFFFFF; -webkit-box-sizing: initial; -moz-box-sizing: initial; box-sizing: initial; }  /* back do fundo do menu (tem q ser o mesmo do menu) */
		aside.menu a.menu_lista { background: url(../../../web/img/admin/menu/04.jpg) no-repeat; }  /* menu lista (hide (Responsivo)) */
		aside.menu a.visitar_site { color: #555555; }  /* cor do texto visitar site */
		aside.menu a.visitar_site:hover { color: #108ee9; }  /* cor do texto visitar site */
		aside.menu hr { border: 0; border-top: 1px solid #E6EEF2; }  /* primeira faixa antes do menu */

		aside.menu ul.menu_left   li.heading b { color: #1a1a1a; }  /* li da categoria */
		aside.menu ul.menu_left > li { border-bottom-color: #E6EEF2; }  /* borda bottom do primeiro menu */
		aside.menu ul.menu_left   li { background: #FFFFFF; }  /* back dos menus */
		aside.menu ul.menu_left   li a { color: #555555; }  /* cor do texto no menu */
		aside.menu ul.menu_left   li a:hover { background: #F1F1F1; }  /* back do menu hover */
		aside.menu ul.menu_left > li.ativo > a { background: #F1F1F1; }  /* back do menu quando o menu tiver ativo */
		aside.menu ul.menu_left   li.sel > a { color: #fff; background: #3FD5C0; }  /* back do menu quando o menu tiver selecionado */
		aside.menu ul.menu_left   li.sel > ul > li.sel_item > a { background: #F1F1F1; }  /* back do menu filho quando o menu tiver selecionado */


		footer { color: #555555; border-top: 1px solid #E6EEF2; background: #FFFFFF; }  /* footer */
		footer .seta i { color: #A4AFBD; }  /* cor da seta */
		footer .seta i:hover { opacity: 0.7 }  /* cor da seta hover */



/* Css


----------------------------------------------------------------------------------------------------------------------------------


*/
